annotated-types==0.7.0
asgiref==3.11.1
boto3==1.42.59
botocore==1.42.59
Django==5.2.11
django-qr-code==4.2.0
django-storages==1.14.6
djangorestframework==3.16.1
gunicorn==25.1.0
jmespath==1.1.0
packaging==26.0
pillow==12.1.1
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
qrcode==8.2
s3transfer==0.16.0
segno==1.6.6
six==1.17.0
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
whitenoise==6.12.0
